:root {
    --main-bg-color: #fffcf0;
    --primary-type-color: #26261a;
    --accent-main: #54878c;
    --accent-secondary: #84b4bf;
    --accent-hover: #d99441;
    --secondary-bg-color: #3f402d;
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Commissioner", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-type-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  main {
    width: 450px;
    margin: 0 auto;
    position: relative;
  }
  
  .container {
    padding: 0 20px;
  }

  h1 {
    margin: 40px 0;
    text-align: center;
    border-bottom: 2px solid var(--accent-main);
    padding-bottom: 40px;
  }
  
  /* ------- NavBar ------- */
  nav {
    height: 60px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--main-bg-color);
  
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    a:hover {
      color: var(--accent-hover);
    }
  
    .logo {
      width: fit-content;
      margin-right: auto;
    }
  
    svg {
      fill: #fff;
    }
  }
  
  .links-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 300px;
  
    background-color: var(--primary-type-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }
  
  #sidebar-active {
    display: none;
  }
  
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
    cursor: pointer;
  }
  #sidebar-active:checked ~ .links-container {
    display: flex;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }

/* ------ River Levels Charts ------ */
  #chartjs-0{
    float:left;
    margin-left:7%;
    margin-top:2%;
  }
  
  #chartjs-1{
    float:right;
    margin-right:7%;
    margin-top:2%;
  }
  
  #chartjs-2{
    float:left;
    margin-left:7%;
    margin-top:2%;
  }
  
  #chartjs-3{
    float:right;
    margin-right:7%;
    margin-top:2%;
  }


  /* ----- Footer ----- */
footer {
    background-color: var(--secondary-bg-color);
    height: 150px;
    position: relative;
  
    ul {
      padding: 20px 10px;
      margin: 0;
      display: flex;
      justify-content: space-around;
      align-content: flex-start;
    }
    li {
      list-style-type: none;
    }
    a {
      color: var(--main-bg-color);
      text-decoration: none;
    }
    a:hover {
      color: var(--accent-hover);
      cursor: pointer;
    }
    .copyright {
      width: 100%;
      color: var(--main-bg-color);
      text-align: center;
      margin-top: 35px;
    }
  }
  
  .custom-shape-divider-bottom-1712598211 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
        position: relative;
        display: block;
        width: calc(155% + 1.3px);
        height: 79px;
      }
    .shape-fill {
      fill: #84b4bf;
    }

  }
  
  @media screen and (min-width: 768px) {
    main {
      width: 768px;
    }
  
    /* ----- NavBar ----- */
    nav.primary .open-sidebar-button,
    .close-sidebar-button {
      display: none;
    }
    #sidebar-active {
      display: none;
    }
  
    nav {
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .links-container {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: #ffffff00;
      box-shadow: none;
      position: inherit;
    }
  
    nav a {
      width: fit-content;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-decoration: none;
    }
    nav .logo {
      margin-right: auto;
    }
  
    #header h1 {
      font-size: 2rem;
    }
  
  
  }
  
  @media screen and (min-width: 992px) {
    main {
      width: 100%;
    }

  }
  